<form class="form-horizontal" id="form_ammount">
	<div class="form-group">
		<label for="monto" class="col-sm-2 control-label">Monto:</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" class="form-control currency" min="0" step="0.01" data-number-to-fixed="2" 
				 data-number-stepfactor="100" name="monto" id="monto" placeholder="Ingrese el monto que desea retirar" required>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Retirar</button>
		</div>
	</div>
</form>
